.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
* {
    box-sizing: border-box;
    display: grid;
    font-family: "Raleway", sans-serif;
}

.navbar {
    width: 100%;
    background-color: purple;
}